<%- include("../layouts/adminHeader.ejs")  %>
    
<!--Aside Here-->
<%- include("../layouts/adminAside.ejs",{ req: req })  %>

<!--Head with search bar and other options Here-->
<%- include("../layouts/adminHead.ejs")  %>


        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Best Selling Products</h2>
                    <p>All the best selling products, Categories etc.</p>
                </div>
         
            </div>
    
            <div class="card mb-4">
                <header class="card-header">

                    <!-- <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                      
                    </div> -->

                    <div class="row align-items-center">
                        
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <div class="custom_select">
                                <select class="form-select select-nice">

                                    <option disabled selected>best sellers on..</option>
                                    <option>Products</option>
                                    <option>Brands</option>
                                    <option>Categories</option>
                               
                                </select>
                            </div>
                        </div>
                     
                        <div class="col-md-2 col-6">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                    </div>


                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">Product</th>
                                    <th scope="col">Total Units Sold</th>
                                    <th scope="col">Total Orders</th>
                                    <th scope="col">Product Price</th>
                                    <th scope="col">Base Amount</th>
                                
                                </tr>
                            </thead>
                            <tbody>

                                <% for(let i = 0 ; i < topProducts.length ; i++){ %>

                                    <tr>
                                        <td>
                                            <a class="itemside" href="#">
                                                <div class="left">
                                                    <img src="/ProductImage/<%=topProducts[i].productImage[0]%>" class="img-sm img-thumbnail" alt="Item">
                                                </div>
                                                <div class="info">
                                                    <h6 class="mb-0"> <%= topProducts[i].productName%> </h6>
                                                </div>
                                            </a>
                                        </td>
                                      
                                        <td>

                                            <span> <%= topProducts[i].totalUnitsSold %> </span> 
                                        </td>
                                        <td>

                                           <span> <%= topProducts[i].totalOrders %> </span> 
                                        </td>

                                        <td>

                                            <span>₹<%=topProducts[i].productPrice%></span> 
                                        </td>
                                        <td>

                                            <span>₹<%=topProducts[i].baseAmount%></span>
                                        </td>
                                       
                                      
                                    </tr>
                                    
                                <% } %>

                               
                              
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        
        </section> <!-- content-main end// -->




<%- include("../layouts/adminFooter.ejs")  %>