<%- include("../layouts/adminHeader.ejs")  %>
    
<!--Aside Here-->
<%- include("../layouts/adminAside.ejs")  %>

<!--Head with search bar and other options Here-->
<%- include("../layouts/adminHead.ejs")  %>

     
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Customers</h2>
                
            </div>
            <!--Ajil Table here-->
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control" id="customerSearch" >
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>Phone Number</th>
                                   
                                    <th>Registered</th>
                                    <th class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody id="UsersTable" >



    

                                

                            <% if(user.length !==0){ %>
                                <%console.log(user[0])%>
                                <% for(let i = 0 ; i < user.length ; i++) { %>
                                    
                                    <tr>
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="/adminAssets/imgs/people/avatar1.jpg" class="img-sm img-avatar" alt="Userpic">
                                                </div>
                                                <div class="info pl-3">
    
                                                        <h6 class="mb-0 title"><%=user[i].firstName%> <%=user[i].lastName%></h6>
                                                 
                                                    <small class="text-muted"><%=user[i].email%></small>
                                                </div>
                                            </a>
                                        </td>
                                        <td><%=user[i].mobile_no%></td>
                                     
                                        <td><%=user[i].createdAt%></td>
                                        
                                        <td class="text-end">
                                            <% if(!user[i].isBlocked){ %>
                                                <!-- <a href="#" onclick="blockUser('<%= user[i]._id %>')" id="blockBtn-<%=user[i]._id%>" class="btn btn-sm blockBtn rounded font-sm mt-15 BlockBtn">Block</a> -->
                                                <button onclick="blockUser('<%= user[i]._id %>')" id="blockBtn-<%=user[i]._id%>" class="btn btn-sm blockBtn rounded font-sm mt-15 BlockBtn btn-warning " >Block</button>
                                                <% }else{ %>
                                                <!-- <a href="#" onclick="blockUser('<%= user[i]._id %>')" class="btn btn-sm unblockBtn rounded font-sm mt-15 BlockBtn">Unblock</a> --> 
                                                <button onclick="blockUser('<%= user[i]._id %>')" id="blockBtn-<%=user[i]._id%>" class="btn btn-sm unblockBtn rounded font-sm mt-15 BlockBtn btn-success " >Unblock</button>
                                                <% } %>
                                            <!-- <a href="#" onclick="deletUser('<%= user[i]._id %>')" class="btn btn-sm btn-brand rounded font-sm mt-15 text-danger DeleteBtn">Delete</a> -->
                                                <button onclick="deletUser('<%= user[i]._id %>')" class="btn btn-sm  rounded font-sm mt-15 text-danger DeleteBtn" >Delete</button>
                                        </td>
                                    </tr> 

                                <% } %>

                            <% } %>
    

                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">

                        <!-- totalPages : totalPages, currentPage : page -->
                         <% for(let i = 1 ; i <= totalPages ; i++){  %>
                            
                            <% if(i == currentPage){ %>
                                
                                <li class="page-item active"><a class="page-link" href="#"><%=i%></a></li>

                            <% }else{ %>

                                <li class="page-item"><a class="page-link" href="#"><%=i%></a></li>

                            <% } %>

                         <% } %>
                         <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                     

                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->

<%- include("../layouts/adminFooter.ejs")  %>