<%- include("../layouts/adminHeader.ejs")  %>
    
<!--Aside Here-->
<%- include("../layouts/adminAside.ejs")  %>

<!--Head with search bar and other options Here-->
<%- include("../layouts/adminHead.ejs")  %>
    <!-- <div class="screen-overlay"></div> -->



    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Offers</h2>
                <p>Manage offers.</p>
            </div>
        </div>
    
        <form id="off-create-form" method="post" action="/admin/offers" >
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="off-title" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control bg-white" id="off-title" >
                    <span  class="text-danger" style="font-size: smaller;" id="offer-title-error"></span>
                </div>
                <div class="col-md-6">
                    <label for="off-description" class="form-label">Description</label>
                    <textarea class="form-control bg-white" name="description" id="off-description" rows="1"></textarea>
                </div>
                <div class="col-md-6" hidden >
                    <label for="off-products" class="form-label">Products (if applicable)</label>
                    <select class="form-select bg-white" name="products" id="off-products" multiple>
                        
                        <!-- Add product options dynamically -->
                    </select>
                </div>

                <div class="col-md-6 position-relative">
                    <label for="offStProductSearch" class="form-label">Add Products (if applicable)</label>
                    <div class="input-group">
                        <input type="text" class="form-control bg-white" id="offStProductSearch" placeholder="Search products...">
                        <!-- <button class="btn btn-outline-secondary" type="button" id="offStProductAddBtn">Add</button> -->
                    </div>
                    <div id="offStProductPopup" class="position-absolute bg-white border rounded p-2 mt-1 w-100" style="display: none; max-height: 200px; overflow-y: auto; z-index: 1000;">
                        <div id="offStProdRecentProducts">
                            <!-- Recent products will be dynamically added here -->
                        </div>
                    </div>
                </div>




                <div class="col-md-6" hidden >
                    <label for="off-categories" class="form-label">Categories (if applicable)</label>
                    <select class="form-select bg-white" name="categories" id="off-categories" multiple>
                        <!-- Add category options dynamically -->
                    </select>
                </div>


                <div class="col-md-6 position-relative">
                    <label for="offStCategorySearch" class="form-label">Add Categories (if applicable)</label>
                    <div class="input-group">
                        <input type="text" class="form-control bg-white" id="offStCategorySearch" placeholder="Search products...">
                        <!-- <button class="btn btn-outline-secondary" type="button" id="offStCategoryAddBtn">Add</button> -->
                    </div>
                    <div id="offStCategoryPopup" class="position-absolute bg-white border rounded p-2 mt-1 w-100" style="display: none; max-height: 200px; overflow-y: auto; z-index: 1000;">
                        <div id="offStCatRecentProducts">
                            <!-- Recent products will be dynamically added here -->

                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <label for="off-discount-type" class="form-label">Discount Type</label>
                    <select class="form-select bg-white" name="discountType" id="off-discount-type" >
                        <option disabled selected value="">Choose...</option>
                        <option value="percentage">Percentage</option>
                        <option value="fixed">Fixed</option>
                    </select>
                    <span  class="text-danger" style="font-size: smaller;" id="offer-discount-error"></span>
                </div>
                <div class="col-md-4">
                    <label for="off-discount-value" class="form-label">Discount Value</label>
                    <input type="number" class="form-control bg-white" name="discountValue" id="off-discount-value" >
                    <span  class="text-danger" style="font-size: smaller;" id="offer-disvalue-error"></span>
                </div>
                <div class="col-md-4">
                    <label for="off-applicable-on" class="form-label">Applicable On</label>
                    <select class="form-select bg-white" name="applicableOn" id="off-applicable-on" >
                        <option disabled selected value="">Choose...</option>
                        <option value="product">Product</option>
                        <option value="category">Category</option>
                        <option value="cart">Cart</option>
                    </select>
                    <span  class="text-danger" style="font-size: smaller;" id="offer-applicable-error"></span>
                </div>
                
                <div class="col-md-4">
                    <label for="off-min-purchase" class="form-label">Minimum Purchase Amount</label>
                    <input type="number" class="form-control bg-white" name="minPurchaseAmount" id="off-min-purchase" value="0">
                    <span  class="text-danger" style="font-size: smaller;" id="offer-min-purchase-error"></span>
                </div>
                <div class="col-md-4">
                    <label for="off-start-date" class="form-label">Start Date</label>
                    <input type="date" class="form-control bg-white" name="startDate" id="off-start-date" >
                    <span  class="text-danger" style="font-size: smaller;" id="offer-startdate-error"></span>
                </div>
                <div class="col-md-4">
                    <label for="off-end-date" class="form-label">End Date</label>
                    <input type="date" class="form-control bg-white" name="endDate" id="off-end-date" >
                    <span  class="text-danger" style="font-size: smaller;" id="offer-enddate-error"></span>
                </div>
                <div class="col-12 d-flex justify-content-end align-items-center">
                    <div class="form-check me-3">
                        <input class="form-check-input" name="isActive" type="checkbox" id="off-is-active" checked>
                        <label class="form-check-label" for="off-is-active">
                            Is Active
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Offer</button>
                </div>
            </div>
        </form>
    </section>
    
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Added Offer Details </h2>
            
            </div>
         
        </div>
        <div class="card mb-4">
            
            <div class="card-body">
                <div class="table-responsive">
                   
                
                    <table class="table table-custom">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Discount</th>
                                <th>Applicable On</th>
                               
                                <th>Min Purchase</th>
                                <th>Date Range</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            <%for(let i = 0 ; i < offers.length ; i++){%>

                                <tr style="cursor: pointer;" >
                                    <td><%=offers[i].title%></td>
                                    <td><%=offers[i].description%></td>
                                    <td>
                                        <div class="discount-info">
                                            <% const discountValue = offers[i].discountType === 'fixed' ? `₹ ${offers[i].discountValue}` : `${offers[i].discountValue} %` %>
                                            <span>Type: <span style="font-weight: bold;" ><%=offers[i].discountType%></span></span>
                                            <span>Value: <span style="font-weight: bold;" ><%=discountValue%></span></span>
                                        </div>
                                    </td>
                                    <td><%=offers[i].applicableOn%></td>
                                    
                                    <td>₹<%=offers[i].minPurchaseAmount%></td>
                                    <td>
                                        <div class="discount-info">
                                            <span>Start: <span style="font-weight: bold;" >
                                                <%=new Date(offers[i].startDate).toLocaleDateString('en-US', { 
                                                    year: 'numeric', month: 'long', day: 'numeric' })%>
                                            </span></span>
                                            <span>End: <span style="font-weight: bold;" >
                                                <%=new Date(offers[i].endDate).toLocaleDateString('en-US', { 
                                                    year: 'numeric', month: 'long', day: 'numeric' })%>
                                            </span></span>
                                        </div>
                                    </td>
                                    <% const isActive = offers[i].isActive ? 'Active' : 'Inactive' %>
                                    <td><span class="badge <%= offers[i].isActive ? 'bg-success' : 'bg-danger' %>"><%=isActive%></span></td>
                                </tr>

                            <%}%>

                            
                        </tbody>
                    </table>


                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    


                    <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
  


<%- include("../layouts/adminFooter.ejs")  %>