<%- include("../layouts/adminHeader.ejs")  %>
    
<!--Aside Here-->
<%- include("../layouts/adminAside.ejs")  %>

<!--Head with search bar and other options Here-->
<%- include("../layouts/adminHead.ejs")  %>
    <!-- <div class="screen-overlay"></div> -->


        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    <p>Find all orders here.</p>
                </div>
             
            </div>
            <div class="card mb-4">
                <header class="card-header">

                    
                    <div class="row align-items-center">

                        <div class="col-md-3  gx-3 col-12 me-auto mb-md-0 mb-3">
                            <div class="col-lg-12  me-auto">
                                <input type="text" placeholder="Search..." class="form-control">
                            </div>
                          
                        </div>
                        
                   
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2022" class="form-control">
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="custom_select">
                                <select class="form-select select-nice">
                                    <option disabled selected>Status</option>
                                    <option>All</option>
                                    <option>Pending</option>
                                    <option>Shipped</option>
                                    <option>Delivered</option>
                                    <option>Cancelled</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">OrderId</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Date</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                               
                                <% for(let i = 0 ; i < orderlist.length ; i++){ %>
                                 
                    
                                    <tr style="cursor: pointer;" onclick="getOrderDetails('<%=orderlist[i]._id%>')" >
                                        <td><%=orderlist[i]._id%></td>
  
                                        <td>
                                            <b><%=orderlist[i]?.customer?.firstName%></b><br>
                                            <span><%=orderlist[i]?.customer?.email%></span> 
                                        </td>

                                        <td>₹ <%=orderlist[i].totalAmount%></td>
                                        <td><span class="badge rounded-pill alert-warning"><%=orderlist[i].status%></span></td>
                                        <td><%=orderlist[i].paymentMethod%></td>

                                        <td>
                                            <%= new Date(orderlist[i]?.orderDate).toLocaleDateString('en-US', { 
                                                year: 'numeric', month: 'long', day: 'numeric' }) %>
                                        </td>

                                    </tr>
                                    
                                    
                                <% } %>

                                
                              
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <!-- orderlist : orders, totalPages : totalPages, currentPage : page -->
                        <% for(let i = 1 ; i <= totalPages ; i++) { 
                            if(i == currentPage){ %>

                                <li class="page-item active"><a class="page-link" href="#"><%=i%></a></li>
                            <% }else { %>

                                <li class="page-item"><a class="page-link" href="/admin/order-list?page=<%=i%>"><%=i%></a></li>
                            
                       <% }} %>
                        
                        <!-- <li class="page-item"><a class="page-link dot" href="#">...</a></li> -->
                        <!-- <li class="page-item"><a class="page-link" href="#">16</a></li> -->
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
      
  
    


<%- include("../layouts/adminFooter.ejs")  %>