<%- include("../layouts/adminHeader.ejs")  %>
    
<!--Aside Here-->
<%- include("../layouts/adminAside.ejs")  %>

<!--Head with search bar and other options Here-->
<%- include("../layouts/adminHead.ejs")  %>
    <!-- <div class="screen-overlay"></div> -->

    
     
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Returned orders </h2>
                    <p>Find all returned orders here.</p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                      
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">Customer</th>
                                    <th scope="col">Order & productId</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Reason</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                   
                                </tr>
                            </thead>
                            <tbody id="return-product-list" >

                                <% for(let i = 0 ; i < returnedProducts?.length ; i++){ %>
                                    
                                    <tr style="cursor: pointer;" >
                                        <td><%=returnedProducts[i]?.customer?.email%></td>
                                      
                                        <td>
                                            <span>ord: <%=returnedProducts[i]?.order%></span><br>
                                            <span>item: <%=returnedProducts[i]?.productId%></span> 
                                        </td>
                                        <td>₹ <%=returnedProducts[i]?.refundAmnt%></td>
                                        <td><%=returnedProducts[i]?.reason%></td>
                                        <td>
                                            <!-- <span class="badge rounded-pill alert-warning">__</span> -->
                                            <select class="selectReturnStatus" data-returnId="<%=returnedProducts[i]?._id%>" >

                                                  <% if(returnedProducts[i]?.status === 'initiated'){ %>
                                                    <option value="initiated" disabled selected>Initiated</option>
                                                    <option value="approved">Approved</option>
                                                    <option value="rejected">Rejected</option>
                                                    
                                                  <% }else if(returnedProducts[i]?.status === 'approved'){ %>
                                                    <option value="initiated" disabled>Initiated</option>
                                                    <option value="approved" disabled selected >Approved</option>
                                                    <option value="rejected" disabled>Rejected</option>
                                                  <% }else if(returnedProducts[i]?.status === 'rejected'){ %>
                                                    <option value="initiated" disabled>Initiated</option>
                                                    <option value="approved" disabled>Approved</option>
                                                    <option value="rejected" disabled selected>Rejected</option>
                                                  <% } %>

                                            </select>               

                                        </td>
                                        <td><%= new Date(returnedProducts[i]?.returnDate).toLocaleDateString('en-US', { 
                                            year: 'numeric', month: 'long', day: 'numeric' }) %>

                                        </td>
                                      
                                    </tr>
                                    
                                <% } %>

                               
                              
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <!-- products,totalPages : totalPages, currentPage : page -->
                        <% for(let i = 1 ; i <= totalPages ; i++ ) { 
             
                            if(i == currentPage){ %>

                                <li class="page-item active"><a class="page-link" ><%=i%></a></li>
                            <% }else{ %>

                                <li class="page-item"><a class="page-link" href="/admin/returned-order?page=<%=i%>"><%=i%></a></li>
                                
                        <% }} %>
                        
                        <!-- <li class="page-item"><a class="page-link dot" href="#">...</a></li> -->
                        <!-- <li class="page-item"><a class="page-link" href="#">16</a></li> -->
                        
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
      
  
    


<%- include("../layouts/adminFooter.ejs")  %>