<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/admin/dashboard" class="brand-wrap">
            <img src="/adminAssets/imgs/theme/ShoeShope_Black.svg" class="logo" alt="ShoeShope Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item <%= req.path === '/dashboard' ? 'active' : '' %> ">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li class="menu-item <%= req.path === '/best_sellers' ? 'active' : '' %>">
                <a class="menu-link" href="/admin/best_sellers" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                    <span class="text">Statistics</span>
                </a>
            </li>

            <li class="menu-item <%= ((req.path === '/productslist') || (req.path === '/category')) ? 'active' : '' %> has-submenu">
                <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="/admin/productslist" class="<%= req.path === '/productslist' ? 'active' : '' %>" >Product List</a>
                   
                    <a href="/admin/category" class="<%= req.path === '/category' ? 'active' : '' %>" >Categories</a>
                </div>
            </li>

            <li class="menu-item <%= req.path === '/coupons' ? 'active' : '' %> ">
                <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Coupons</span> </a>
            </li>

            <li class="menu-item has-submenu <%= ((req.path === '/order-list') || (req.path === '/returned-order')) ? 'active' : '' %> ">
                <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="/admin/order-list" class="<%= req.path === '/order-list' ? 'active' : '' %>" >Order list</a>
                    <a href="/admin/returned-order" class="<%= req.path === '/returned-order' ? 'active' : '' %>" >Returned Orders</a>
              
                  
                </div>
            </li>
            <li class="menu-item <%= req.path === '/customers' ? 'active' : '' %>">
                <a class="menu-link" href="/admin/customers"> <i class="icon material-icons md-store"></i>
                    <span class="text">Customers</span>
                </a>
               
            </li>
          
            <li class="menu-item ">
                <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Transactions</span>
                </a>
             
            </li>
            
        </ul>
        <hr>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                    <span class="text">Account</span>
                </a>
               
            </li>
    
            <li class="menu-item ">
                <a class="menu-link" href="/admin/logout "> <i class="icon material-icons md-log_out"></i>
                    <span class="text">Logout</span>
                </a>
               
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
                
            </li>
           
        </ul>
        <br>
        <br>
    </nav>
</aside>