<%- include("../layouts/header.ejs")  %>
<body>
<%- include("../layouts/navigation.ejs")  %>


<div class="modal fade" id="addCouponModalCenter" tabindex="-1" role="dialog" aria-labelledby="addCouponModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCouponModalLongTitle">Add Coupon</h5>
          <button type="button" id="addCoupon-modal-close-button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: transparent; border: none; font-size: 1.5rem; color: gray; padding: 0.5rem 1rem;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addCouponForm">
            <div class="ca-scrollable-container">
              <!-- Radio buttons for coupon options -->

              <% if(coupons.length < 1){ %>
                    <span>No coupons Available</span>
              <% }else{

                  for(let i = 0 ; i < coupons.length ; i++){ %>
    
                    <div class="form-check">
                      <input class="form-check-input cart-form-check-input" type="radio" name="couponOption" id="<%=coupons[i]._id%>" value="<%=coupons[i].couponCode%>" required>
                      <label class="form-check-label" for="<%=coupons[i]._id%>">
                        <%=coupons[i].couponName%> <span style="font-weight: bold; color: black;" > (<%=coupons[i].couponCode%>) </span>, <span style="color: green;" ><%=coupons[i].discount%> % Off</span>|
                        <span  >On ₹ <%=coupons[i].MinAmount%>+</span> [Max : <%=coupons[i].MaxAmount%>]
                      </label>
                    </div>
    
                  <% }} %>
          
              
              <!-- Add more radio button options as needed -->
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="btn-addCoupon-save">Use Selected Coupon</button>
        </div>
      </div>
    </div>
  </div>
  
 
  

<main class="main">
    <section class="pt-50 pb-150" style="font-family: Arial, sans-serif; " >
    <div class="container">
        <h1><i class="fi-rs-shopping-bag"></i> Your Cart</h1>
        <% if(cartItemsArray.length > 0 ){%>

            <p id="totalItemsInCart" >Total <%=cartItemsArray.length %> items in your cart</p>
        <% } %>
     
        

        <div class="row">
            <div class="col-md-8">
                <!-- Cart Items -->  

                <% if(cartItemsArray.length > 0 ){ %>

                    <% for( let i = 0 ; i < cartItemsArray.length ; i++){ %>

                        <div class="cart-item" id="itemTileId-<%=cartItemsArray[i].productId._id%>" >
                            
                                <input type="checkbox" data-product-id="<%=cartItemsArray[i].productId._id%>"  class="cart-item-checkbox "  <% if(cartItemsArray[i].isSelected){ %>checked<% } %> >
                           
                            <img src="/ProductImage/<%=cartItemsArray[i].productId.image[0]%>" alt="/ProductImage/<%=cartItemsArray[i].productId.image[1]%>" class="cart-item-image">
        
                            <div class="cart-item-details">
                                <h3><%=cartItemsArray[i].productId.ProductName%></h3>
                                <p><%=cartItemsArray[i].productId.Brand%></p>

                                <%if(cartItemsArray[i].productId.isOnOffer){%>
                                    
                                    <h4>₹ <%=cartItemsArray[i].productId.salePrice%></h4>
                                    <span class="old-price" style="color: rgb(255, 123, 0);" ><del> ₹ <%=cartItemsArray[i].productId.regularPrice%> </del> </span>
                                <%}else{%>
                                    <h4>₹ <%=cartItemsArray[i].productId.regularPrice%></h4>
                                <%}%>

                                <div class="cart-item-options">
                                    <select class="form-select-cart cart-item-size" data-product-id="<%=cartItemsArray[i].productId._id%>" >
                                        <option value="S" <%= cartItemsArray[i].size === 'S' ? 'selected' : '' %> >Size: S</option>
                                        <option value="M" <%= cartItemsArray[i].size === 'M' ? 'selected' : '' %> >Size: M</option>
                                        <option value="L" <%= cartItemsArray[i].size === 'L' ? 'selected' : '' %>  >Size: L</option>
                                        <option value="XL" <%= cartItemsArray[i].size === 'XL' ? 'selected' : '' %>  >Size: XL</option>
                                    </select>
                                    <div class="d-flex ml-5 justify-content-center " >
                                        <div>Qty: </div>

                                        <input class="form-select-cart quantity-input ml-2 " value="<%=cartItemsArray[i].quantity%>" style="height: 30px; width: 70px;" type="number" max="<%=cartItemsArray[i].productId.stockQuantity < 4 ? cartItemsArray[i].productId.stockQuantity : 4%>" min="1" data-product-id="<%=cartItemsArray[i].productId._id%>">
                                    
                                    </div>
                                    <% if(cartItemsArray[i].productId.isActive === 0){ %>
                                        <span class="stock-info">Product Unavailable</span>
                                    <% }else{ %>
                                            <span class="stock-info"><%=cartItemsArray[i].productId.stockQuantity%> left</span>
                                            
                                    <% } %>
                                </div>
                            </div>
        
                            <button class="btn-remove" onclick="removeProductFromCart('<%=cartItemsArray[i].productId._id%>')" ><i class="fi-rs-trash"></i></button>
                        </div>

                    <% } %>

                <% }else{ %>
                    <div class="cart-item ">
                        <div class="cart-item-details">
                            <h3>Your Cart is Empty !!</h3>
                        </div>
                    </div>
                <% } %>

            </div>

            <div class="col-md-4">
                <!-- Order Summary -->
                <div class="order-summary">
                    <h2>Order Summary</h2>
                    <div class="summary-item">
                        <span id="orderSummary-quantity" ><%=totalSelectedItems %> item added</span>
                        <span id="orderSummary-subTotal" >₹ <%=subTotal%></span>
                    </div>
      
                    <div class="summary-item">
                        <span>GST Amount</span>
                        <span id="orderSummary-GST" >₹ <%=gst%></span>
                    </div>
                    <div class="summary-item">
                        <span>Delivery Charge</span>
                        <span>₹ _</span>
                    </div>
                    <div class="summary-item discount">
                        <span id="orderSummary-discount" > Discount 0%</span>
                        <span id="orderSummary-discountOffer" >₹ 0</span>
                    </div>
                    <div class="summary-total d-flex justify-content-between ">
                        <strong>Total Amount</strong>
                        <strong id="orderSummary-totalAmount" >₹ <%=totalAmount%></strong>
                    </div>
                    <div class="d-flex flex-column align-items-end align-items-sm-center ca-container">
                        <input type="text" id="addedCoupon" class="form-control mb-2" placeholder="Enter Coupon Code (optional)">
                        <button type="button" onclick="" data-toggle="modal" data-target="#addCouponModalCenter" class="ca-btn">Add Coupon</button>
                    </div>
                  
                    <br>
                    <button onclick="loadCheckout()" class="btn btn-primary btn-block">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
    
    <%- include("../layouts/footer.ejs")  %> 
