<%- include("../layouts/header.ejs")  %>
<body>
<%- include("../layouts/navigation.ejs")  %>
<main class="main">
    <section class="pt-50 pb-150" style="font-family: Arial, sans-serif;" >
    <div class="container">
        <h1><i class="fi-rs-shopping-bag"></i> Your Cart</h1>
        <% if(cartItemsArray.length > 0 ){%>

            <p id="totalItemsInCart" >Total <%=cartItemsArray.length %> items in your cart</p>
        <% } %>
     
        

        <div class="row">
            <div class="col-md-8">
                <!-- Cart Items -->  

                <% if(cartItemsArray.length > 0 ){ %>

                    <% for( let i = 0 ; i < cartItemsArray.length ; i++){ %>

                        <div class="cart-item" id="itemTileId-<%=cartItemsArray[i].productId._id%>" >
                            
                                <input type="checkbox" data-product-id="<%=cartItemsArray[i].productId._id%>"  class="cart-item-checkbox "  <% if(cartItemsArray[i].isSelected){ %>checked<% } %> >
                           
                            <img src="/ProductImage/<%=cartItemsArray[i].productId.image[0]%>" alt="/ProductImage/<%=cartItemsArray[i].productId.image[1]%>" class="cart-item-image">
        
                            <div class="cart-item-details">
                                <h3><%=cartItemsArray[i].productId.ProductName%></h3>
                                <p><%=cartItemsArray[i].productId.Brand%></p>
                                <h4>₹ <%=cartItemsArray[i].productId.salePrice%></h4>
                                <div class="cart-item-options">
                                    <select class="form-select-cart cart-item-size" data-product-id="<%=cartItemsArray[i].productId._id%>" >
                                        <option value="S" <%= cartItemsArray[i].size === 'S' ? 'selected' : '' %> >Size: S</option>
                                        <option value="M" <%= cartItemsArray[i].size === 'M' ? 'selected' : '' %> >Size: M</option>
                                        <option value="L" <%= cartItemsArray[i].size === 'L' ? 'selected' : '' %>  >Size: L</option>
                                        <option value="XL" <%= cartItemsArray[i].size === 'XL' ? 'selected' : '' %>  >Size: XL</option>
                                    </select>
                                    <div class="d-flex ml-5 justify-content-center " >
                                        <div>Qty: </div>

                                        <input class="form-select-cart quantity-input ml-2 " value="<%=cartItemsArray[i].quantity%>" style="height: 30px; width: 70px;" type="number" max="<%=cartItemsArray[i].productId.stockQuantity < 4 ? cartItemsArray[i].productId.stockQuantity : 4%>" min="1" data-product-id="<%=cartItemsArray[i].productId._id%>">
                                    
                                    </div>
                                    <span class="stock-info"><%=cartItemsArray[i].productId.stockQuantity%> left</span>
                                </div>
                            </div>
        
                            <button class="btn-remove" onclick="removeProductFromCart('<%=cartItemsArray[i].productId._id%>')" ><i class="fi-rs-trash"></i></button>
                        </div>

                    <% } %>

                <% }else{ %>
                    <div class="cart-item ">
                        <div class="cart-item-details">
                            <h3>Your Cart is Empty !!</h3>
                        </div>
                    </div>
                <% } %>

            </div>

            <div class="col-md-4">
                <!-- Order Summary -->
                <div class="order-summary">
                    <h2>Order Summary</h2>
                    <div class="summary-item">
                        <span id="orderSummary-quantity" ><%=totalSelectedItems %> item added</span>
                        <span id="orderSummary-subTotal" >₹ <%=subTotal%></span>
                    </div>
      
                    <div class="summary-item">
                        <span>GST Amount</span>
                        <span id="orderSummary-GST" >₹ <%=gst%></span>
                    </div>
                    <div class="summary-item">
                        <span>Delivery Charge</span>
                        <span>₹ _</span>
                    </div>
                    <div class="summary-item discount">
                        <span id="orderSummary-discount" > Discount 0%</span>
                        <span>₹ 0</span>
                    </div>
                    <div class="summary-total d-flex justify-content-between ">
                        <strong>Total Amount</strong>
                        <strong id="orderSummary-totalAmount" >₹ <%=totalAmount%></strong>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Coupon Code (optional)">
                    <button onclick="loadCheckout()" class="btn btn-primary btn-block">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
    
    <%- include("../layouts/footer.ejs")  %> 
