<%- include("../layouts/header.ejs")  %>
<body>
<%- include("../layouts/navigation.ejs")  %>





<!-- Add New Address Modal -->
<div class="modal fade" id="addNewAddressModalCenter" tabindex="-1" role="dialog" aria-labelledby="addNewAddressModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content scroll-modal-content ">
            <div class="modal-header adna-modal-header">
                <h5 class="modal-title" id="addNewAddressModalLongTitle">Add New Address</h5>
                <button type="button" id="addNewAddress-modal-close-button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: transparent; border: none; font-size: 1.5rem; color: gray; padding: 0.5rem 1rem;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body adna-modal-body ">
                <!-- Add New Address Data here -->
                <form action="/profile/address" method="post" id="addNewAddressForm" >

                    <div class="d-flex justify-content-between row form-group " >
                        <div class="col-lg-6" >
                            <label for="addressName" class="form-label">Address Type</label>
                            
                            <select id="addressName" class="form-control" name="addressName" >
                                <option selected disabled value="" >Select Address type</option>
                                <option >Home</option>
                                <option >Office</option>
                                <option >Work place</option>
                                <option >Other</option>
                            </select>
                            <span class="error ml-5 " id="addressName-error" ></span>
                        
                        </div>
                        <div class="col-lg-6" >
                            <label for="addressPincode" class="form-label">Pincode</label>
                            <input type="text" placeholder="Type here" class="form-control" id="addressPincode" name="addressPincode">
                            <span class="error ml-5 " id="addressPincode-error" ></span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between row form-group " >
                        <div class="col-lg-6" >
                            <label for="addressState" class="form-label">State</label>
                            <input type="text" placeholder="Type here" class="form-control" id="addressState" name="addressState">
                            <span class="error ml-5 " id="addressState-error" ></span>
                            
                        </div>
                        <div class="col-lg-6" >
                            <label for="addressDistrict" class="form-label">District</label>
                            <input type="text" placeholder="Type here" class="form-control" id="addressDistrict" name="addressDistrict">
                            <span class="error ml-5 " id="addressDistrict-error" ></span>

                        </div>
                    </div>

                    <div class="d-flex justify-content-between row form-group " >
                        <div class="col-lg-6" >
                            <label for="addressCity" class="form-label">City</label>
                            <input type="text" placeholder="Type here" class="form-control" id="addressCity" name="addressCity">
                            <span class="error ml-5 " id="addressCity-error" ></span>
                        </div>
                        <div class="col-lg-6" >
                            <label for="addressPlace" class="form-label">Place</label>
                            <input type="text" placeholder="Type here" class="form-control" id="addressPlace" name="addressPlace">
                            <span class="error ml-5 " id="addressPlace-error" ></span>
                        </div>
                    </div>

                    <div>

                        <label for="addressMobile" class="form-label">Mobile</label>
                        <input type="text" placeholder="Type here" class="form-control" id="addressMobile" name="addressMobile">
                        <span class="error ml-5 " id="addressMobile-error" ></span>
                    </div>
                    <div>

                        <label for="addressLandmark" class="form-label">Landmark</label>
                        <input type="text" placeholder="Type here" class="form-control" id="addressLandmark" name="addressLandmark">
                        <span class="error ml-5 " id="addressLandmark-error" ></span>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
               
                <button type="submit" form="addNewAddressForm" class="btn btn-primary" id="btn-addNewAddress-save">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--Address Editing -->
<div class="modal fade" id="editAddressModalCenter" tabindex="-1" role="dialog" aria-labelledby="editAddressModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content scroll-modal-content ">
            <div class="modal-header adna-modal-header ">
                <h5 class="modal-title" id="editAddressModalLongTitle">Edit Address</h5>
                <button type="button" id="editAddress-modal-close-button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: transparent; border: none; font-size: 1.5rem; color: gray; padding: 0.5rem 1rem;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body adna-modal-body ">
                <form method="post" action="/profile/address/edit?_method=PUT" id="editAddressForm">
                    
                    <input type="hidden" id="editAddressId" name="addressId">

                    <div class="d-flex justify-content-between row form-group">
                        <div class="col-lg-6">
                            <label for="editAddressName" class="form-label">Address Type</label>
                            <select id="editAddressName" class="form-control" name="addressType">
                                <option selected disabled value="" >Select Address type</option>
                                <option>Home</option>
                                <option>Office</option>
                                <option>Work place</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label for="editAddressPincode" class="form-label">Pincode</label>
                            <input type="text" placeholder="Enter pincode" class="form-control" id="editAddressPincode" name="pinCode">
                            <span class="error ml-5 " id="editAddressPincode-error" ></span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between row form-group">
                        <div class="col-lg-6">
                            <label for="editAddressState" class="form-label">State</label>
                            <input type="text" placeholder="Enter state" class="form-control" id="editAddressState" name="state">
                        </div>
                        <div class="col-lg-6">
                            <label for="editAddressDistrict" class="form-label">District</label>
                            <input type="text" placeholder="Enter district" class="form-control" id="editAddressDistrict" name="district">
                        </div>
                    </div>

                    <div class="d-flex justify-content-between row form-group">
                        <div class="col-lg-6">
                            <label for="editAddressCity" class="form-label">City</label>
                            <input type="text" placeholder="Enter city" class="form-control" id="editAddressCity" name="city">
                        </div>
                        <div class="col-lg-6">
                            <label for="editAddressPlace" class="form-label">Place</label>
                            <input type="text" placeholder="Enter place" class="form-control" id="editAddressPlace" name="place">
                        </div>
                    </div>

                    <div>

                        <label for="editAddressMobile" class="form-label">Mobile</label>
                        <input type="text" placeholder="Enter mobile number" class="form-control" id="editAddressMobile" name="mobile_no">
                        <span class="error ml-5 " id="editAddressMobile-error" ></span>
                    </div>

                    <label for="editAddressLandmark" class="form-label">Landmark</label>
                    <input type="text" placeholder="Enter landmark" class="form-control" id="editAddressLandmark" name="landmark">
                </form>
            </div>
            <div class="modal-footer">
               
                <button type="submit" form="editAddressForm" class="btn btn-primary" id="btn-editAddress-update">Update Address</button>
            </div>
        </div>
    </div>
</div>

    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="/assets/imgs/theme/ShoeShope_Black.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a></li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer & Office</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer Electronics</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother & Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="index.html">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="shop-grid-right.html">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>



    <!--Section starts here-->
    <!--Section starts here-->
    <!--Section starts here-->

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-wallet" data-bs-toggle="tab" href="#wallet" role="tab" aria-controls="account-wallet" aria-selected="true"><i class="fi-rs-money mr-10"></i>Wallet</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/profile/logout" ><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">

                                    <!--Dashboard....-->
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Hello <%=userDetails.firstName%> </h5>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Orders....-->
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between align-items-center ">
                                                <h5 class="mb-0">Your Order History</h5>
                                                <div class="d-flex justify-content-center" >
                                                    <span class="pr-5" >gst : 
                                                        <br> 
                                                        <span>Grand Total :</span> 
                                                    </span>
                                                    <button class="btn display-order-details " id="show-all-btn" >Show all</button>
                                                </div>
                                            </div>
                                            
                                            <div class="card-body">

                                                <div class="table-responsive" id="toggle-order-history" >
                                                    <table class="table ods-order-table">

                                                        <% if(orders.length < 1 ){ %>
                                                            <thead>
                                                                <tr>
                                                                    You havn't ordered anything..!
                                                                </tr>
                                                            </thead>

                                                        <% }else{ %>
                                                            <thead>
                                                                <tr>
                                                                    <th>Preview</th>
                                                                
                                                                    <th>Address</th>
                                                                    <th>Price</th>
                                                                    <th>Date</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                        <% } %>
                                                        <tbody id="order-history-table" > 

                                                            <% for(let i = 0 ; i < orders.length ; i++){ %>

                                                                <tr class="odsIdUnifiedRow" data-id="<%=orders[i]._id%>" >
                                                                    <td>
                                                                        <img src="/ProductImage/<%=orders[i]?.items[0]?.product?.images[0]%>" alt="Order preview" class="ods-order-preview">
                                                                        <% if(orders[i]?.items[1]){ %>
                                                                            <img src="/ProductImage/<%=orders[i]?.items[1]?.product?.images[0]%>" alt="Order preview" class="ods-order-preview">
                                                                        <% }else{ %>
                                                                            <img src="/ProductImage/<%=orders[i]?.items[0]?.product?.images[1]%>" alt="Order preview" class="ods-order-preview">
                                                                        <% } %>
                                                                        <div class="odsIdOrderId">Order ID: <%=orders[i]?._id%></div>
                                                                    </td>
                                                                    <td>
                                                                        <address class="ods-address">
                                                                            <span style=" font-size: small; font-weight: bold;  color: black;" ><%=orders[i]?.shippingAddress?.addressType%></span><br>
                                                                            <%=orders[i]?.shippingAddress?.place%>,<br>
                                                                            <%=orders[i]?.shippingAddress?.city%> city,<br>
                                                                            <%=orders[i]?.shippingAddress?.landmark%> city
                                                                        </address>
                                                                    </td>
                                                                    <td><span class="ods-price">₹ <%=orders[i]?.totalAmount%></span></td>
                                                                    <td><span class="ods-date"><%=orders[i]?.orderDate%></span></td>
                                                                    <td><span class="ods-status  bot-status-<%= orders[i]?.status.toLowerCase() %>"><%= orders[i]?.status %></span></td>
                                                                    

                                                                </tr>
                                                             
                                                            <% } %>


                                                    
                                                        
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                             
                                                <!--Detailed Orders....-->
                                                <div class="display-order-details " id="order-details">

                                                    <div class="table-responsive" id="order-detail-table"  >
                                                        
                                                        
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    

                                    <!--Address management....-->
                                    <div class="container mt-5 tab-pane fade " id="address" >
                                        <button type="button" class="btn  mb-3" data-toggle="modal" onclick="disableScroll()" data-target="#addNewAddressModalCenter" >Add New Address</button>
                                   <!-- Button to trigger the modal -->
                                       
                                        <% if(!defaultAddress){ %>
                                            
                                            <div class="address-card">
                                                <div class="d-flex justify-content-between align-items-start" >
                                                    <p>
                                                        <span>No Address Added</span>
                                                    </p>
                                                </div>
                              
                                            </div>
                                        <% }else{ %>

                                            <!--Default Address-->
                                            <div class="address-card" id="<%=defaultAddress._id%>" >
                                                <div class="d-flex justify-content-between align-items-start" >
                                                    <p>
                                                        <span style="font-weight: bolder;  color: black;" ><%=defaultAddress.addressType%></span> <br>
                                                        <span>LandMark: <%=defaultAddress.landmark%>,</span> <br>
                                                        <span>Place: <%=defaultAddress.place%>,</span> <br>
                                                        <span><%=defaultAddress.city%> city, PIN: <%=defaultAddress.pinCode%>,</span> <br>
                                                        <span><%=defaultAddress.district%> Dt, <%=defaultAddress.state%></span> <br>
                                                        <span>Mobile: <span style="font-weight: bold; " >+91 <%=defaultAddress.mobile_no%></span></span>
                                                    </p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <span class="default-badge" style="background-color: rgb(206, 206, 206);" >Default</span>
                                                    </div>
    
                                                </div>
                                                <div class="d-flex justify-content-end align-items-center" >
                                                    <div class="address-actions">
                                                        <a onclick="updateAddress('<%=defaultAddress._id%>')" class="text-primary" data-address-id="<%=defaultAddress._id%>" >Edit</a>
                                                        <a onclick="deleteAddress('<%=defaultAddress._id%>')" class="text-danger">Delete</a>
                                                    </div>
    
                                                </div>
                                            </div>
                                            
                                            <!--Other Address-->
                                           
                                            <% if(otherAddress.length > 0){ 
                                                for(let i = 0 ; i < otherAddress.length ; i++){ %>


                                                
                                                <div class="address-card" id="<%=otherAddress[i]._id%>" >
                                                    <div class="d-flex justify-content-between align-items-start">
                                                        <p>
                                                            <span style="font-weight: bolder;  color: black;" ><%=otherAddress[i].addressType%></span> <br>
                                                            <span>LandMark: <%=otherAddress[i].landmark%>,</span> <br>
                                                            <span>Place: <%=otherAddress[i].place%>,</span> <br>
                                                            <span><%=otherAddress[i].city%> city, PIN: <%=otherAddress[i].pinCode%>,</span> <br>
                                                            <span><%=otherAddress[i].district%> Dt, <%=otherAddress[i].state%></span> <br>
                                                            <span>Mobile: <span style="font-weight: bold; " >+91 <%=otherAddress[i].mobile_no%></span></span>
                                                        </p>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                    
                                                            <button class="btn" onclick="makeDefaultAddress('<%=otherAddress[i]._id%>')" style="padding: 0.25rem 0.6rem; font-size: 0.875rem; border-radius: 0.25rem; background-color: #75e24a; color: white;" >
                                                                Make Default
                                                            </button>
                                           
                                                        </div>
        
                                                    </div>
                                                    <div class="d-flex justify-content-end align-items-center" >
                                                        <div class="address-actions">
                                                            <a onclick="updateAddress('<%=otherAddress[i]._id%>')" class="text-primary">Edit</a>
                                                            <a onclick="deleteAddress('<%=otherAddress[i]._id%>')" class="text-danger">Delete</a>
                                                        </div>
        
                                                    </div>
                                                </div>
                                            <% }} %>
                                            

                                        <% } %>

                                      
                               
                                    </div>

                                    <!--Wallet....-->
                                    <div class="tab-pane fade" id="wallet" role="tabpanel" aria-labelledby="account-wallet">
                                        <div class="card" >
                                       
                                            <div class="card-body">
                                                
                                                <div class="wal-container">
                                                    <h2>My Wallet</h2>
                                                    <div class="wal-balance">
                                                      <span>Available Balance</span>
                                                      <h3>₹ <%=userWallet?.balance%></h3>
                                                    </div>
                                                    <div class="wal-actions">
                                                      <button class="wal-btn wal-add-funds">Add Funds</button>
                                                      <button class="wal-btn wal-withdraw">Withdraw</button>
                                                    </div>
                                                    <div class="wal-transaction-history">
                                                      <h4>Recent Transactions</h4>
                                                      <ul>

                                                        <% for(let i = 0 ; i < 3 ; i++){ %>

                                                            <li>
                                                              <span class="wal-transaction-date">
                                                                    <%= new Date(userWallet?.transactions[i]?.createdAt).toLocaleDateString('en-US', { 
                                                                    year: 'numeric', month: 'long', day: 'numeric' }) %>
                                                              </span>
                                                              <span class="wal-transaction-desc"><%=userWallet?.transactions[i]?.type%></span>
                                                              <% if((userWallet?.transactions[i]?.type == 'refund') || (userWallet?.transactions[i]?.type == 'deposit')  ){ %>
                                                                
                                                                <span class="wal-transaction-amount wal-credit">+₹ <%=userWallet?.transactions[i]?.amount%></span>
    
                                                              <% }else if( (userWallet?.transactions[i]?.type == 'payment') || (userWallet?.transactions[i]?.type == 'withdrawal') ){ %>
    
                                                                <span class="wal-transaction-amount wal-debit">-₹ <%=userWallet?.transactions[i]?.amount%></span>
    
                                                              <% } %>
                                                            </li>
                                                        <% } %>

                                                       

                                                        
                                                      </ul>
                                                    </div>
                                                  </div>
                                           
                                            </div>
                                        </div>
                                    </div>

                                    <!--Account Details....-->
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                                <label><span ><%=userDetails.email%></span></label>
                                            </div>
                                            <div class="card-body">
                                                
                                                <form method="post" name="enq" id="chage-password-form"  action="/profile/account-detail?_method=PUT">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            
                                                        <div class="form-group col-md-6">
                                                            <label>First Name</label>
                                                            <input class="form-control square" value="<%=userDetails.firstName%>" name="Fname" type="text">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Last Name </label>
                                                            <input  class="form-control square"  value="<%=userDetails.lastName%>" name="Lname">
                                                        </div>
                                                        
                                                        
                                                        <div class="form-group col-md-12">
                                                            <label>New Password <span class="required">*</span></label>
                                                            <input required="" id="newPassword" class="form-control square" name="npassword" type="password">
                                                            <div id="newPasswordError" class="text-danger" ></div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Confirm Password <span class="required">*</span></label>
                                                            <input required="" id="newPasswordConfirm" class="form-control square" type="password">
                                                            <div id="confirmPasswordError" class="text-danger" ></div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" id="changePasswordBtn" class="btn btn-fill-out submit" value="Submit">Update</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <%- include("../layouts/footer.ejs")  %> 