<%- include("../layouts/header.ejs")  %>
<body>
<%- include("../layouts/navigation.ejs")  %>
<main class="main" style="min-height: 80vh;" >
    <section class="pt-50 pb-150" style="font-family: Arial, sans-serif; " >
        <div class="container">
            <h1><i class="fi-rs-heart"></i>Wishlist</h1>
            <% if(userData?.wishlist?.length > 0 ){%>

                <p id="totalItemsInWishlist" >Total <%=userData?.wishlist?.length %> items in your wishlist</p>
            <% }else{ %>
                <p id="totalItemsInWishlist" >Wishlist is empty</p>
            <% } %>

            <div class="container">
            
                <div class="row product-grid-4">
                    <% for(let i = 0 ; i < userData?.wishlist?.length ; i++){ %>

                        <div class="col-lg-3 col-md-4 col-12 col-sm-6" id="<%=userData?.wishlist[i]?._id%>" >
                            <div class="product-cart-wrap  mb-30">

                                <div class="product-img-action-wrap ">
                                    <div class="product-img product-img-zoom">
                                        <a href="/product_details/?product_id=<%=userData?.wishlist[i]?._id%>">
                                            
                                            <img class="default-img" src="/ProductImage/<%=userData?.wishlist[i]?.image[0]%>" alt="">
                                            <img class="hover-img" src="/ProductImage/<%=userData?.wishlist[i]?.image[1]%>" alt="">
                                        </a>
                                    </div>
                                    
                    
                                

                                    <div class="heart-icon" data-card="remove" data-id="<%=userData?.wishlist[i]?._id%>">
                                                    
                                        <div class="wishlist-toggle" aria-label="Add to Wishlist">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                            </svg>
                                        </div>


                                    </div>

                                

                                </div>

                                <div class="product-content-wrap">
                            
                                    <h2><a href="#"><%=userData?.wishlist[i]?.ProductName%></a></h2>
                                
                                    <div class="product-price">
                                        <%if(userData?.wishlist[i]?.isOnOffer){%>

                                            <span>₹ <%=userData?.wishlist[i]?.salePrice%> </span>
                                            <span class="old-price" style="color: rgb(255, 123, 0);" >₹ <%=userData?.wishlist[i]?.regularPrice%></span>
                                        <%}else{%>
                                            <span>₹ <%=userData?.wishlist[i]?.salePrice%> </span>
                                        <%}%>
                                    </div>
                                    
                                </div>
                                
                                <button class="btn" onclick="addProductToCart('<%=userData?.wishlist[i]?._id%>',true)" >Move to Cart</button>
                            </div>
                        </div>

                    <% } %>

                </div>

            </div>
        </div>
    </section>
</main>
    
    <%- include("../layouts/footer.ejs")  %> 
